html,body{
    height: 100%;
    margin:0;
}
@keyframes yidong {
    0%{
        left:-20px;
    }
    100%{
        left:0;
    }
}
.main{
    width: 100%;
    height: 100%;
    background: #ccc;
    margin:0 auto;
    position: relative;
    /*animation: yidong linear 1s infinite alternate;*/
}
.left{
    width: 80%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    float: left;
    /*margin-right: 500px;*/
}
.right{
    width: 20%;
    height: 100%;
    background: #FFE6AE;
    float: left;
}
.show{
    width: 180px;
    height: 40px;
    margin:30px auto;
    border:1px solid #ccc;
}
.show .title{
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
.show .con{
    text-align: center;
    line-height: 20px;
    height: 20px;
    background: #fff;
    color:red;
}
.btn{
    width: 180px;
    height: 30px;
    border-radius: 10px;
    border:1px solid #000;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #000;
    margin:30px auto;
    cursor: pointer;
}
.letter{
    width: 200px;
    height:200px;
    background:url(../img/qipao.png) no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 200px;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color:#fff;
}